<div class="chatroom-container">
    <div class="chatroom-main">
        <app-chat-header 
            [chatroom]="chatroom()"
            [currentUser]="currentUser()"
            [jobDetails]="jobDetails()"
            [chatPartnerName]="chatPartnerName()"
            [chatPartnerAvatarUrl]="chatPartnerAvatarUrl()"
            (statusUpdated)="updateStatus($event)"
            (backClicked)="backToChatList()"
            (reviewOpened)="showReviewModal.set(true)"
            (detailsOpened)="openDetailsModal()">
        </app-chat-header>

        <app-chat-message-list
            [messages]="messages()"
            [chatStatus]="chatStatus()"
            [allMessagesLoaded]="allMessagesLoaded()"
            [currentUserId]="currentUser()?.id || null"
            [chatPartnerAvatarUrl]="chatPartnerAvatarUrl()"
            [error]="error()"
            (loadMore)="loadMoreMessages()"
            (retry)="ngOnInit()">
        </app-chat-message-list>
        @if (showReviewModal()) {
            <review-modal
                [job]="chatroom()"
                [currentUser]="currentUser()"
                [daysRemaining]="chatroom()?.reviewEligibility?.daysRemaining!"
                [existingReview]="chatroom()?.existingReview"
                (close)="showReviewModal.set(false)"
                (submit)="handleReviewSubmit($event)">
            </review-modal>
        }
        <footer class="message-input-area">
            <div class="input-actions">
                <i class="material-icons">attach_file</i>
                <i class="material-icons">mic</i>
            </div>
            <textarea
                [(ngModel)]="newMessageContent"
                placeholder="Type your message..."
                rows="1"
                (keydown.enter)="sendMessage()"
            ></textarea>
            <button class="send-button" (click)="sendMessage()" [disabled]="!newMessageContent().trim()">
                <i class="material-icons">send</i>
            </button>
        </footer>
    </div>
    <app-chat-details-drawer 
        [isOpen]="showDetailsModal()"
        [jobDetails]="jobDetails()"
        (close)="closeDetailsModal()">
    </app-chat-details-drawer>
</div>