.buttons-row {
  display: flex;
  justify-content: end;
  margin-top: 32px;
  width: 100%;
  gap: 8px;
}

/* Base Pill Style using Specificity to override Material defaults */
.btn-primary, .btn-secondary {
  /* Dimensions and Shape */
  height: 42px ;
  padding: 0 28px ;
  border-radius: 21px ; // Pill shape (Height / 2)
  
  /* Typography */
  font-family: var(--global-font-family) ;
  font-size: 0.95rem ;
  font-weight: 500 ;
  text-transform: none ; // Critical: prevents ALL CAPS
  letter-spacing: normal ;

  /* Border and Background */
  border: 1px solid #d0d5dd ; // Light gray border from your screenshot
  background-color: var(--dashboard-bg) ;
  color: var(--text-primary); // The specific blue text
  
  transition: all 0.2s ease-in-out ;

  &:hover {
    background-color: #f9fafb ;
    border-color: var(--text-primary); ;
    transform: translateY(-1px);
  }

  /* Active state for a subtle 'pressed' effect */
  &:active {
    transform: translateY(0);
    background-color: #f2f4f7;
  }
}

.file-upload-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .custom-label {
    font-size: 12px;
    color: #44474E;
    font-weight: 400;
    font-family:var(--global-font-family);
  }
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;

  .thumb {
    position: relative;
    width: 80px;
    height: 80px;
    img { width: 100%; height: 100%; object-fit: cover; border-radius: 8px; }
    .remove-btn {
        position: absolute; top: -5px; right: -5px;
        background: white; border-radius: 50%; border: 1px solid #ccc;
        width: 20px; height: 20px; display: flex; align-items: center; justify-content: center;
        cursor: pointer;
        mat-icon { font-size: 14px; width: 14px; height: 14px; color: red; }
    }
  }
}

.checkbox-wrapper {
  margin: 8px 0 16px 0;
}