<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    @for (field of fields; track field.name) {
      @if (field.type === 'date') {
        <mat-form-field>
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      } @else if (field.type === 'file') {
        <div class="file-upload-container">
          <mat-label class="custom-label">{{ field.label }}</mat-label>
          <image-upload 
            [isMultiple]="field.multiple!"
            (imageUploaded)="handleImageUpdate($event, field.name, field.multiple)"
            [folder]="field.folder || 'general'">
          </image-upload>

          @let currentFiles = formGroup.get(field.name)?.value;
          @if (currentFiles) {
            <div class="preview-container" [class.grid]="field.multiple">

              @if (field.multiple && isArray(currentFiles)) {
                @for (img of currentFiles; track img.public_id || $index) {
                  <div class="thumb">
                    <img [src]="img.url" alt="Preview" />
                    <button type="button" class="remove-btn" (click)="removeFile(field.name, $index)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                }
              } 
              
              @else if (!field.multiple && currentFiles.url) {
                <div class="thumb single-preview">
                  <img [src]="currentFiles.url" alt="Profile Preview" />
                  <button type="button" class="remove-btn" (click)="removeFile(field.name)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }
            </div>
          }
        </div>
      }
      @else if (field.type === 'checkbox') {
      <div class="checkbox-wrapper">
        <mat-checkbox [formControlName]="field.name" color="primary">
          {{ field.label }}
        </mat-checkbox>
      </div>
      }@else if (field.type === 'address') {
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput 
           [type]="field.type" 
           [formControlName]="field.name" 
           appAddressAutocomplete 
           (addressSelected)="handleAddressOutput(field.name, $event)"
          />
        </mat-form-field>
      }@else if (field.type === 'textarea') {
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <textarea matInput 
           [formControlName]="field.name" 
           rows="4"
          ></textarea>
        </mat-form-field>
      }@else {
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput 
           [type]="field.type" 
           [formControlName]="field.name"
          />
        </mat-form-field>
      }
    }

    <ng-content></ng-content>
    <div class="buttons-row">
        <button mat-button class="btn-primary" type="submit">{{ actionName || 'Submit' }}</button>
        <button mat-button class="btn-secondary" type="button" (click)="clearForm()">Clear</button>
        <button mat-button class="btn-secondary" type="button" (click)="cancelForm()">Cancel</button>
    </div>
</form>