:host {
    display: block;
    width: 100%;
  }
  
  .filter-container {
    display: flex; /* Use flexbox for horizontal arrangement */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 8px; /* Small gap between items */
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    background-color: var(--dashboard-bg);
    box-shadow: var(--card-shadow);
  }
  
  mat-form-field {
    flex: 1 1 auto; /* Allow items to grow and shrink, with a basis of 'auto' */
    min-width: 150px; /* Reasonable minimum width */
    max-width: 300px; /* Reasonable maximum width */
  }