 <header class="chat-header">
    <button class="mobile-menu-toggle" (click)="backClicked.emit()">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class = "chat-header-mid-section">
        @if (jobDetails(); as details) {
            <div class="chat-title-group">
                <div class="chat-partner-avatar">
                    <img [src]="imgError() ? DEFAULT_AVATAR : (chatPartnerAvatarUrl() || DEFAULT_AVATAR)" 
                    (error)="handleImgError($event)"
                    class="avatar-img">
                    
                </div>
                <h1 class="chat-title">
                    {{ chatPartnerName() }}   
                </h1>
            </div>
            @if (headerState(); as state) {
                    <div class="status-indicator-group" [class]="state.statusClass">
                        <span class="status-dot"></span>
                        <span class="status-label">{{ state.statusLabel }}</span>
                        @if (state.subText) {
                            <span class="status-subtext">• {{ state.subText }}</span>
                        }
                    </div>
            }
        }
    </div>
    <div class="chat-options">
        @if (headerState().showReviewAction) {
            <button class="icon-action-btn" 
                    (click)="reviewOpened.emit()" 
                    [title]="headerState().reviewActionLabel">
                <i class="material-icons">grade</i>
            </button>
        }
        <p class="detail-link" (click)="detailsOpened.emit()">View details</p>
    </div>
</header>

@if (showDeclineModal()) {
    <decline-reason-dialog
        (confirm)="onDeclineConfirm($event)"
        (cancel)="showDeclineModal.set(false)">
    </decline-reason-dialog>
}