@use 'abstracts' as *;
/* Header Styles */
.chat-header {
    background-color: white; /* No direct var for white, using literal */
    padding: var(--dashboard-padding); /* Using :root variable */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--card-border);
    box-shadow: var(--card-shadow);

    .mobile-menu-toggle {
        @include button-reset();
        font-size: var(--title-font-size); /* Using a more appropriate font size from :root */
        color: var(--text-primary);
        margin-right: $spacing-md;
        cursor: pointer;
        @media (max-width: $breakpoint-md) {
            display: block;
        }
    }

    .chat-title {
        font-size: var(--title-font-size);
        font-weight: 600;
        color: var(--text-primary);
        margin: 0;
        flex-grow: 1;
    }

    .chat-options {
        display: flex;
        gap: $spacing-md;
    }
}

.chat-header-mid-section {
    display:flex;
    flex-flow:column;
}
.status-actions {
  display: flex;
  gap: 8px;
  margin-top: 4px;

  .btn-group {
    display:flex;
    gap:5px;
  }

  .status-btn {
    padding: 4px 12px;
    border-radius: 16px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background: none;
    
    &.cancel,
    &.decline { 
        color:#dc3545;
        border: 1px solid #dc3545; 
        &:hover { opacity: 0.4; 
                  background-color:rgba(#dc3545, 0.1); }
    }
    &.accept,
    &.sent,
    &.deposit { 
        border: 1px solid #28a745; 
        color:#28a745; 
         &:hover { opacity: 0.4; 
                  background-color:rgba(#28a745, 0.1); }
    }
    &.verify { 
        border: 1px solid #6f42c1; 
        color: #6f42c1; 
          &:hover { opacity: 0.4; 
                  background-color:rgba(#6f42c1, 0.1); }

    }
  }
}

.review-action-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    .expiry-label {
        font-size: 0.7rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: black; // Soft red
        margin-bottom: 2px;
    }

    .status-btn.review {
        background: none; // Very light blue
        color:lightseagreen;
        border: 1px solid #91d5ff;
        border-radius: 20px;
        padding: 6px 16px;
        font-weight: 600;
        transition: all 0.2s;

        &:hover {
          background: #bae7ff;
        }
    }
}


/* Ensure detail-link is prominent */
.detail-link {
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 500;
    text-decoration: none;
    font-family:var(--global-font-family);
    background-color:rgba(0, 168, 150, 0.08);
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 13px 16px;
    &:hover { color: color-mix(in srgb, var(--text-primary) 80%, black); }
}

.avatar-img{
    height:32px;
    width:32px;
}

.chat-title-group{
    display:flex;
    gap:8px;
}

