<mat-accordion class="addAccordion">
  <mat-expansion-panel [(expanded)]="addProviderPanelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>Add new provider</mat-panel-title>
    </mat-expansion-panel-header>
    <business-form
      [providerForm]="providerForm"
      (formSubmit)="onAddSubmit()"
      (formClear)="clearForm()"
      actionName="Create"
    ></business-form>
  </mat-expansion-panel>
</mat-accordion>

@for (provider of providers; track provider.id) {
  <mat-accordion class="editAccordion">
    <mat-expansion-panel 
    [(expanded)]="editOpenStates()[provider.id!]"
    (opened)="setEditPanelOpen(provider.id!, true)"
    (closed)="setEditPanelOpen(provider.id!, false)">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ provider.businessName }} </mat-panel-title>
        <mat-panel-description> {{ provider.description }} </mat-panel-description>
        <div class="actions">
          <mat-icon fontIcon="edit" color="warn" (click)="editProvider(provider); $event.stopPropagation()"></mat-icon>
          <mat-icon fontIcon="delete" color="primary" (click)="deleteProvider(provider.id!); $event.stopPropagation()"></mat-icon>
        </div>
      </mat-expansion-panel-header>
      @if (providerBeingEdited && providerBeingEdited.id === provider.id) {
        <business-form
          [providerForm]="providerForm"
          (formSubmit)="onEditSubmit(provider)"
          (formClear)="clearForm()"
          [provider]="providerBeingEdited"
          actionName="Update"
        ></business-form>
      }@else{
        <p>{{provider.businessAddress}}</p>
        <p>{{provider.phoneNumber}}</p>
      }
    </mat-expansion-panel>
  </mat-accordion>
}