.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  font-family: var(--global-font-family);

  .provider-name {
    flex-grow: 1; /* Allow the name to take up available space */
    margin-right: 16px; /* Add some space between name and description */
    font-family: var(--global-font-family);
  }

  .actions {
    display: flex;
    align-items: center;
    margin-left: 16px; /* Add some space between description and actions */

    mat-icon {
      cursor: pointer;
      font-size:18px;
      margin-left: 8px; /* Space between icons */
    }
  }

}.business-card {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 20px;
  border: 1px solid var(--card-border);
  padding: var(--dashboard-padding);
  margin-top: 15px; /* Spacing between expansion panels */
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  background-color: white;
  align-items: flex-start; /* Aligns content to the top */
}

.business-card:hover {
  box-shadow: var(--card-hover-shadow);
  transition: var(--transition-default);
}

.business-info-container {
  flex: 1 1 auto; /* Allows this container to grow and shrink */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px; /* Spacing below the image */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.business-info {
  width: 100%; /* Ensures the info section takes full width of its container */
}

.business-info p {
  margin-bottom: calc(var(--dashboard-padding) / 4);
  color: var(--text-primary);
  font-family: var(--global-font-family);
  font-size: calc(var(--text-font-size) * 0.8);
}

.business-name {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: calc(var(--dashboard-padding) / 3);
  color: var(--primary-blue);
}

.category, .description, .address, .phone {
  font-size: var(--description-font-size);
  color: var(--text-secondary);
}

.hourly-rate {
  color: var(--primary-green);
  font-size: var(--text-font-size);
  font-weight: bold;
}

/* --- Calendar Component --- */
.provider-calendar {
  flex: 2 1 450px; /* Allows the calendar to grow, shrink, and have a base width */
  max-width: 600px; /* Prevents the calendar from getting too wide */
  align-self: flex-start; /* Ensures the calendar aligns with the top of the container */
}

/* --- Responsive Layout for Small Screens --- */
@media (max-width: 768px) {
  .business-card {
    flex-direction: column;
  }
  
  .business-info-container {
    width: 100%;
    margin-bottom: 20px;
  }
}