@if (isVisible()) {
  <div class="banner" [ngClass]="user()?.stripeVerificationStatus">
    <div class="container">
      
      <div class="icon-box">
        @if (user()?.stripeVerificationStatus === 'processing' || isLoading()) {
          <th-loading size="small"></th-loading>
        } @else if (user()?.stripeVerificationStatus === 'requires_input') {
          <i class="material-icons">info_outline</i>
        } @else {
          <i class="material-icons">verified_user</i>
        }
      </div>

      <div class="text-content">
        <p>{{ statusMessage() }}</p>
      </div>

      <div class="actions">
        @if (!isLoading() && user()?.stripeVerificationStatus !== 'processing') {
          <button (click)="startVerification()" class="btn-verify">
            {{ user()?.stripeVerificationStatus === 'requires_input' ? 'Try Again' : 'Get Verified' }}
          </button>
        }
      </div>

    </div>
  </div>
}