<div class="chatrooms-container">
    <h1 class="chatrooms-title">Chatrooms</h1>
    @if (chatrooms().length > 0) {
      <ul class="chatrooms-list">
        @for (chatroom of chatrooms(); track chatroom.id) {
          <li class="chatroom-item" (click)="goToChatroom(chatroom.id)">
            <div class="chatroom-details">
              <h2 class="chatroom-name">{{ chatroom.name }}</h2>
              <p class="chatroom-job">Job ID: {{ chatroom.jobId }}</p>
            </div>
          </li>
        }
      </ul>
    } @else {
      <p class="no-chatrooms-message">No chatrooms available.</p>
    }
</div>
  