.management-header {
  margin-left:24px;
}
/* Date Badge Design */
.date-side {
  flex: 0 0 75px; // Ensure this never shrinks
  display: flex;
  flex-direction: column;
  align-items: center;

  .date-badge {
    aspect-ratio: 1 / 1; // Forces a perfect square
    width: 64px;
    background: #00bfa5;
    color:white;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .month { font-size: 0.7rem; font-weight: 700; text-transform: uppercase; }
    .day { font-size: 1.3rem; font-weight: 800; }
  }

  .time-label {
    margin-top: 6px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #64748b;
  }
}

/* Status Dot System */
.status-indicator {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f1f5f9;
  padding: 4px 10px;
  border-radius: 20px;
  
  .status-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    
    &.cancelled { background: #ef4444; }
    &.depositreceived, &.completed, &.verified, &.accepted { background: #10b981; }
    &.pending { background: #f59e0b; }
  }

  .status-text {
    font-size: 0.65rem;
    font-weight: 800;
    letter-spacing: 0.05em;
    color: #475569;
  }
}

.client-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: var(--text-secondary);
  
  mat-icon { font-size: 18px; width: 18px; height: 18px; }
}

.divider { color: #e2e8f0; }

.action-side {
  .view-btn {
    border: 1px solid var(--text-primary);
    background: transparent;
    color: var(--text-primary);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    white-space: nowrap;
    transition: all 0.2s;

    &:hover {
      background: var(--text-primary);
      color: var(--dashboard-bg);
    }
  }
}

.service-card {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 2rem;
  align-items: flex-start; /* Align to top so description can grow */
  background: white;
  border-radius: 16px;
  box-shadow:none;
  gap:18px;

  &:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(226, 232, 240, 0.8) ;
    box-shadow: var(--card-hover-shadow);
  }

  .business-info {
    flex: 1; /* Takes up remaining space */
    color:var(--text-secondary);
    
    .info-header {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 8px;
      gap:6px;

      .business-name {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 700;
        color:#475569;
      }
    }
    
    .meta-details {
      display:flex;
      gap: 8px;
      font-size:0.9rem;
    }
  }
}