<div class="business-page-wrapper">
  <div class="management-header">
    <div class="header-text">
      <h2>Upcoming Jobs</h2>
    </div>
  </div>

  <div class="service-results">
    @for (job of jobs(); track job.id) {
      <mat-card class="service-card" (click)="contactCustomer(job.id!)">
        
        <div class="date-side">
          <div class="date-badge">
            <span class="month">{{ job.jobDate | date:'MMM' }}</span>
            <span class="day">{{ job.jobDate | date:'dd' }}</span>
          </div>
          <div class="time-label">{{ job.startTime || 'TBD' }}</div>
        </div>

        <div class="business-info">
          
          <div class="info-header">
            <div class="status-indicator">
              <span [class]="getStatusClass(job.jobStatus!)"></span>
              <span class="status-text">{{ job.jobStatus | uppercase }}</span>
            </div>
            <h3 class="business-name">{{ job.jobTitle }}</h3>
          </div>

          <div class="client-info">
            <mat-icon>person</mat-icon> 
            <span>Customer: <strong>{{ getCustomerName(+job.customerId!)}}</strong></span>
            <span class="divider">|</span>
            <span class="modern-display-tag">{{ job.category }}</span>
          </div>
          
          <div class="meta-details">
              <span>{{ calculateTotal(job.priceBreakdown) | currency }}</span>
              <span class="divider">|</span>
              <span >
               {{ job.location }}
              </span>
          </div>
        </div>

        <div class="action-side">
          <button class="view-btn" click="contactCustomer(job.id)">View Chat</button>
        </div>
      </mat-card>
    }

    @if (jobs().length === 0) {
       <th-empty-state 
          message="No jobs yet.">
       </th-empty-state>
    }
  </div>
</div>