footer {
    background-color: lightseagreen;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    position: fixed;
    height: var(--global-footer-height);
    bottom: 0;
    width: 100%;
  }