<header>
  <nav>
    @if (isLoggedIn()) {
      @if (this.userData$ | async; as user) {
        @let userId = user.id;
        <span class="logo">
          <a [routerLink]="['/user', userId]">TaskHeroes</a>
        </span>
        <span class="menu">
          @if (user.role === 'seeker') {
            <a [routerLink]="['/user', userId, 'seeker']">Search</a>
            <a [routerLink]="['/user', userId, 'seeker','orders']">Orders</a>
            <a [routerLink]="['/seeker', userId, 'chatrooms']">Messages</a>
            <a [routerLink]="['/user', userId, 'profile']">Profile</a>
          } @else if (user.role === 'provider') {
            <a [routerLink]="['/user', userId, 'provider']">Business Page</a>
            <a [routerLink]="['/user', userId, 'provider','jobs']">Orders</a>
            <a [routerLink]="['/provider', userId, 'chatrooms']">Messages</a>
            <a [routerLink]="['/user', userId, 'profile']">Profile</a>
          }
        </span>
      }
      <button (click)="logout()">Logout</button>
    } @else {
      <span class="logo">
        <a routerLink="/login">TaskHeroes</a>
      </span>
      <span class="menu">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </span>
    }
  </nav>
</header>