<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    @for (field of fields; track field.name) {
      <mat-form-field>
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [type]="field.type" [formControlName]="field.name" />
      </mat-form-field>
    }
  
    <button mat-raised-button color="primary" type="submit">{{ actionName || 'Submit' }}</button>
    <button mat-raised-button color="primary" type="button" (click)="clearForm()">Clear</button>
    <button mat-raised-button color="primary" type="button" (click)="cancelForm()">Cancel</button>
</form>