<h2>Register</h2>
<form (submit)="onSubmit()">
  <div>
    <label for="email" class="sr-only">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Email" required>
  </div>
  <div>
    <label for="newUsername" class="sr-only">Username:</label>
    <input type="text" id="newUsername" name="newUsername" [(ngModel)]="newUsername" placeholder="Username" required>
  </div>
  <div>
    <label for="newPassword" class="sr-only">Password:</label>
    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" placeholder="Password" required>
  </div>
  <button type="submit">Register</button>
  @if (errorMessage) {
    <p style="color: red;">{{ errorMessage }}</p>
  }
</form>
<p>Already have an account? <a routerLink="/login">Log in</a></p>