<header>
  <nav>
    <span class="logo">TaskHeroes</span>
    @if(isLoggedIn()){
      <span class="menu">
            @if(this.userData$ | async; as user){
            @if (user.role === 'seeker') {
              <a [routerLink]="['/user', userId, 'seeker']">Search</a>
              <a [routerLink]="['/user', userId, 'orders']">Orders</a>
              <a [routerLink]="['/user', userId, 'messages']">Messages</a>
              <a [routerLink]="['/user', userId, 'profile']">Profile</a>
            } @else if (user.role === 'provider') {
              <a [routerLink]="['/user', userId, 'provider']">Business Page</a>
              <a [routerLink]="['/user', userId, 'orders']">Orders</a>
              <a [routerLink]="['/user', userId, 'messages']">Messages</a>
              <a [routerLink]="['/user', userId, 'profile']">Profile</a>
            }
          }
        <button (click)="logout()">Logout</button>
      </span>
    } @else {
      <span class="menu">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </span>
    }
  </nav>
</header>
