<form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
<mat-form-field>
    <mat-label>Business Name</mat-label>
    <input matInput formControlName="businessName" required />
</mat-form-field>

<mat-form-field>
    <mat-label>Business Address</mat-label>
    <input matInput formControlName="businessAddress" />
</mat-form-field>

<mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phoneNumber" />
</mat-form-field>

<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
</mat-form-field>

<mat-form-field>
    <mat-label>Profile Picture URL</mat-label>
    <input matInput formControlName="profilePicture" />
</mat-form-field>

<button mat-raised-button color="primary" type="submit">{{actionName}}</button>
<button mat-raised-button color="primary" type="button" (click)="clearForm()">Clear</button>
</form>